<header>

  <div class="header-body">

    <div class="header-title">
      Zen Totem
    </div>

    <div class="header-message" *ngIf="viewMessage" (click)="onMessageClick()">
      The profile has been changed
      <div class="header-message-bottom">
        Click to close
      </div>
    </div>

    <div class="header-auth">
      <ng-container *ngIf="isLogined; else singInSection">
        <div [routerLink]="'/profile'" class="profile">
          {{profileName}}
        </div>
        <button class="header-log-out-button" (click)="logOut()">
          Log out
        </button>
      </ng-container>
      <ng-template #singInSection>
        <button class="header-auth-button" [routerLink]="'/login'">
          Sing In
        </button>
      </ng-template>
    </div>

  </div>

</header>

<router-outlet></router-outlet>

<footer>
  <div class="footer-img-box">
    <img class="footer-img" src="https://hhcdn.ru/employer-logo/6001326.jpeg" alt="">
  </div>
  <div class="footer-text">
    Powered by Icon Text Group
  </div>
</footer>