/* You can add global styles to this file, and also import other style files */
body {
    padding: 0;
    margin: 0;

    a{
        text-decoration: none;
    }

    app-root{
        display: flex;
        height: 100vh;
        width: 100%;
        flex-direction: column;
    }
}

home-page {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
}