.home-page {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.home-page-tiles-body {
    display: flex;
    width: 60rem;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}